<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="10" name="Test suite" parallel="classes">
    <test name="test 1">
        <groups>
            <run>
                <include name="Smoke" />
            </run>
        </groups>
        <classes>
            <class name="tests.CalculatorSumTest"/>
            <class name="tests.CalculatorSubstractionTest"/>
            <class name="tests.CalculatorMultiplicationTest"/>
            <class name="tests.CalculatorSplitTest"/>
        </classes>
    </test> <!-- Test -->
</suite>
